<!DOCTYPE html>
<html>

<head>
    <title>Question: <%= index +1 %> Score: <%= score%> </title>
    <link rel="stylesheet" href="questpage.css">
</head>

<body>
    <% if (question_arr && question_arr.length) { %>
    <div class="question"> Q:
        <div class="text"><%= question%>.</div>
    </div>

    <form class="answer" action="/answer" method="post">
        <button class="box" name="answer" type="answer" value='<%= answers[0]%>'><%= answers[0]%></button>
        <button class="box" name="answer" type="answer" value='<%= answers[1]%>'><%= answers[1]%></button>
        <button class="box" name="answer" type="answer" value='<%= answers[2]%>'><%= answers[2]%></button>
        <button class="box" name="answer" type="answer" value='<%= answers[3]%>'><%= answers[3]%></button>
        </form>

    <div class="pass-link">
        <a href="/landing">Back to Homepage</a>
    </div>
    <% } %>
</body>

</html>